* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	text-decoration: none;
	list-style: none;
	font-size: 12px;
	font-family: $fuentePrincipal;
}

.contenedor {
	width: 80%;
	margin: auto;
}

@media screen and (max-width: 769px) {
	* {
		background-color: $colorFondo1;
	}
}
