$colorPrincipal: #252525;
$colorSecundario: #dfae73;
$colorFondo1: #f8eadd;
$colorFondo2: #e2d0b7;
$fuentePrincipal: "Lexend", sans-serif;
$fuenteSecundaria: "Della Respira", serif;
$tamanioNav: 12px;
$tamanioTitulos: 65px;
$altoLineaParrafos: 150%;
